.custom_btn {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: var(--green);
  padding: 12px 36px;
  border-radius: 50px;
  box-shadow: 0 4px #197024;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;

  &:disabled {
    background-color: var(--grey);
    box-shadow: 0 4px #a5a5a5;
    cursor: not-allowed;
  }

  &:not(:disabled):active {
    transform: translateY(2px);
    box-shadow: none;
  }
}
