.wrapper {
  flex: 1;
  max-width: 240px;
  padding: 12px;
}

.border {
  border-right: 1px solid var(--border-color);
}

.btn {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 12px;
  border-radius: 10px;

  img {
    width: 24px;
    height: 24px;
    margin-right: 24px;
  }

  p {
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.active_btn {
  color: var(--orange);
}
