.wrapper {
  width: 100%;
  display: flex;
  gap: 16px;

  h2 {
    flex: 5;
    text-align: center;
  }

  p {
    flex: 5;
    text-align: center;
  }

  .type {
    flex: 2;
    text-align: center;
  }
}
